$base-font-size: 16px;
//Line height should be base-font-s
$base-line-height: 24px;
$font-one: "Prenton";
$light: 300;
$regular: 400;
$medium: 500;
$text-shadow: 1px -2px 0px rgba(150, 150, 150, 1);
body {
    font-family: $font-one;
}
h1 {
    @include adjust-font-size-to(36px);
    //Make the bottom margin 1 line-height / 36
    margin-bottom: rhythm(1, 36px);
    font-weight: $medium;
}
h2 {
    @include adjust-font-size-to(24px);
    margin-bottom: rhythm(1, 24px);
    font-weight: $medium;
}
h1.blue-head {
    color: #2b94c2;
}
h3 {
    @include adjust-font-size-to(21px);
    font-weight: $light;
    center {
        text-align: center
    }
}
p {
    @include adjust-font-size-to(16px);
    margin-bottom: rhythm(1, 16px);
}

.lr-heading {
    text-align: center;
}

.header-text {
    @include adjust-font-size-to(18px);
    margin-bottom: rhythm(1, 18px);
}
.quote-text {
    @include adjust-font-size-to(22px);
    margin-top: rhythm(1, 22px);
    margin-bottom: 5px;
    text-align: center;
    color: white;
}
.top-nav > li a {
    @include adjust-font-size-to(18px);
    padding-right: rhythm(1, 18px);
}

.bottom-nav-items > li a {
    @inclde adjust-font-size-to(18px);
}

li a {
    text-decoration: none;
}

.form-wrapper {
 h2 {
    text-align: center;
    
}
.form-text {
        text-align: center;
    }
}

.fb-right, .fb-left {
    @include adjust-font-size-to(12px);
    margin: 0px;
}