// Screen
// Compass Addons
@import "compass/reset";

@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";
//Custom Partials
//@import "bg-colors";
@import "form";
@import "grids";
@import "typography";
@import "buttons";
@import "breakpoint";



@media (min-width: 320px) {
    header {
        background-image: url('/images/nyc-bg.jpg');
        background-size: cover;
        height: 350px;
    }
}
@media (min-width: 760px) {
    header {
        background-image: url('/images/nyc-60.jpg');
        background-size: cover;
        height: 600px;
    }
}


@media screen and (max-width: 669px) {
    .flex-nav {
        display: none;
    }
    .flex-nav-item > a {
        display: none;
    }
}



@media screen and (min-width: 670px) {
    .flex-nav {
        @include display-flex();
        @include justify-content(space-around);
        background-color: #fff;
        width: 100%;
        height: 40px;
        opacity: .6;
        padding: 10px;
    }
    %flex-nav-item {
        @include align-items(center);
        @include display-flex();
        @include link-colors($navy-blue, lighten($navy-blue, 20%), #212, inherit);
        text-decoration: none;
        color: white;
        font-size: 1.25em;
        border: {
            left: 1px solid #999;
        }
        padding: 5px 10px;
    }
    .flex-nav-item {
        @extend %flex-nav-item;
        &:hover {
            background-color: #aaa;
        }
    }
    .search {
        @extend %flex-nav-item;
        @include flex-grow(1);
        &:hover {
            background-color: #aaa;
        }
    }
}


@media screen and (min-width: 670px) {
    .bottom-flex-nav {
        @include display-flex();
        @include justify-content(center);
        width: 100%;
    }
    %flex-nav-item-bottom {
        @include align-items(center);
        @include display-flex();
        background-color: #000;
        text-decoration: none;
        opacity: .6;
        border: {
            left: 1px solid #999;
        }
        padding: 5px 10px;
    }
    .bottom-nav-items {
        @extend %flex-nav-item-bottom;
        &:hover {
            background-color: #aaa;
        }
    }
    .icon {
        @extend %flex-nav-item;
        @include flex-grow(1);
        &:hover {
            background-color: #aaa;
        }
    }
}




#nav, .tinynav {
        display: none;
    }


    /* styles for mobile */
     @media screen and (max-width: 669px) {
        .nav-toggle {
            @include span(10);
        .tinynav {
            display: block;
            width: 100%;
        }
        #nav {
            display: none;
        }
    }
}
