/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables & Mixins */
/* Changes Entire Color Scheme */
/* line 8, ../sass/_form.scss */
.roundedborder, input[type='text'], fieldset, .styled-select, textarea, input[type='submit'], .form-wrapper form {
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 2px solid #020723;
}

/* General Layout */
/* line 17, ../sass/_form.scss */
input, select, textarea {
  outline: none;
}

/* line 18, ../sass/_form.scss */
label {
  padding: 0 .5em 0 .5em;
}

/* Text Input */
/* line 22, ../sass/_form.scss */
input[type='text'] {
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-size: 2em;
  margin: .2em 0 1em;
  padding: .25em;
  width: 100%;
}

/* line 32, ../sass/_form.scss */
input[placeholder=""] {
  color: #020723;
}

/* line 36, ../sass/_form.scss */
::-webkit-input-placeholder {
  color: white;
}

/* line 37, ../sass/_form.scss */
:-moz-placeholder {
  color: white;
}

/* FF 18 */
/* line 38, ../sass/_form.scss */
::-moz-placeholder {
  color: white;
}

/* FF 19+ */
/* line 39, ../sass/_form.scss */
:-ms-input-placeholder {
  color: white;
}

/* Radio Buttons */
/* line 43, ../sass/_form.scss */
fieldset {
  margin-bottom: 2em;
  padding: .5em .5em;
}

/* line 49, ../sass/_form.scss */
input[type='radio'] {
  appearance: none;
  border: solid 0.1em white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f2f2f2;
  color: #f0f;
  cursor: pointer;
  height: 2.5em;
  width: 2.5em;
  margin-top: 0;
  vertical-align: text-top;
}

/* Dropdown Box */
/* line 64, ../sass/_form.scss */
.styled-select {
  display: inline-block;
  background-color: white;
  color: #e6e6e6;
  cursor: pointer;
  font-size: 1.1em;
  margin-bottom: 1.5em;
  padding: .25em 0;
  position: relative;
  width: 15em;
}

/* line 77, ../sass/_form.scss */
.styled-select:before {
  font-family: "FontAwesome";
  border: solid 1px #e6e6e6;
  border-width: 0 0 0 1px;
  content: '\f103';
  color: #d9d9d9;
  font-size: 1.25em;
  padding-left: .25em;
  position: absolute;
  pointer-events: none;
  right: .35em;
}

/* line 90, ../sass/_form.scss */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #e6e6e6;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 0 2em 0 1em;
  width: 100%;
}

/* Text Area */
/* line 103, ../sass/_form.scss */
textarea {
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-size: 1em;
  height: 10em;
  margin: .5em 0 1em;
  padding: 1em;
  width: 100%;
}

/* Submit Button */
/* line 118, ../sass/_form.scss */
input[type='submit'] {
  border: 3px solid #e6e6e6;
  background-color: #6178f6;
  cursor: pointer;
  color: #fff;
  float: right;
  font-size: 1.5em;
  padding: .25em 1em;
}

/* line 128, ../sass/_form.scss */
input[type='submit']:hover {
  background-color: #0e2fe3;
}

/* line 11, ../sass/_grids.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 14, ../sass/_grids.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 65, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_background.scss */
head {
  display: block;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_background.scss */
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 67, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_background.scss */
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
/* line 71, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_background.scss */
head:hover ~ body, head:hover ~ body body {
  position: relative;
}
/* line 74, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_background.scss */
head:hover ~ body:before, head:hover ~ body body:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(80%, rgba(179, 179, 255, 0.25)), color-stop(80%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, rgba(0, 0, 0, 0) 80%);
  background-size: 8.47457627%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

/* line 17, ../sass/_grids.scss */
header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 20, ../sass/_grids.scss */
footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 100px;
  background-color: #051153;
  color: white;
  text-align: center;
}

/* line 28, ../sass/_grids.scss */
.logo-row {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 30, ../sass/_grids.scss */
.logo-row > img {
  width: 32.20338983%;
  float: left;
  margin-left: 33.89830508%;
  margin-right: -100%;
  height: 500px;
}

/* line 35, ../sass/_grids.scss */
.buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
/* line 38, ../sass/_grids.scss */
.buttons > .links {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

/* line 42, ../sass/_grids.scss */
.wrap {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 46, ../sass/_grids.scss */
.form-wrapper {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 48, ../sass/_grids.scss */
.form-wrapper form {
  font-size: 1.2em;
  width: 83.05084746%;
  float: left;
  margin-left: 8.47457627%;
  margin-right: -100%;
  padding: 2em;
  margin-bottom: 15px;
}

/* line 60, ../sass/_grids.scss */
.gallery {
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../sass/_grids.scss */
.gallery .gallery-item {
  width: 23.07692308%;
  float: left;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.gallery .gallery-item:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.gallery .gallery-item:nth-child(4n + 2) {
  margin-left: 25.64102564%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.gallery .gallery-item:nth-child(4n + 3) {
  margin-left: 51.28205128%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.gallery .gallery-item:nth-child(4n + 4) {
  margin-left: 76.92307692%;
  margin-right: -100%;
  clear: none;
}

/* line 70, ../sass/_grids.scss */
.main-content {
  width: 83.05084746%;
  float: left;
  margin-left: 8.47457627%;
  margin-right: -100%;
}

/* line 73, ../sass/_grids.scss */
.mc-slider {
  width: 49.15254237%;
  float: left;
  margin-left: 25.42372881%;
  margin-right: -100%;
}

/* line 77, ../sass/_grids.scss */
.about-wrapper {
  overflow: hidden;
  *zoom: 1;
}
/* line 79, ../sass/_grids.scss */
.about-wrapper .panel_item {
  width: 32.20338983%;
  float: left;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.about-wrapper .panel_item:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.about-wrapper .panel_item:nth-child(3n + 2) {
  margin-left: 33.89830508%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.about-wrapper .panel_item:nth-child(3n + 3) {
  margin-left: 67.79661017%;
  margin-right: -100%;
  clear: none;
}

/* line 83, ../sass/_grids.scss */
.blog-wrap {
  width: 74.57627119%;
  float: left;
  margin-right: 1.69491525%;
}
/* line 85, ../sass/_grids.scss */
.blog-wrap .blog-sidebar {
  width: 23.72881356%;
  float: right;
  margin-right: 0;
}

/* line 12, ../sass/_typography.scss */
body {
  font-family: "Merriweather";
}

/* line 15, ../sass/_typography.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.33333333em;
  margin-top: 0.66666667em;
  font-weight: 700;
}

/* line 21, ../sass/_typography.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  font-weight: 700;
}
/* line 25, ../sass/_typography.scss */
h2 .main-heading {
  text-align: center;
}

/* line 29, ../sass/_typography.scss */
h1.blue-head {
  color: #2b94c2;
}

/* line 32, ../sass/_typography.scss */
h3 {
  font-size: 1.3125em;
  line-height: 2.28571429em;
  font-weight: 300;
}
/* line 35, ../sass/_typography.scss */
h3 center {
  text-align: center;
}

/* line 39, ../sass/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 300;
}
/* line 43, ../sass/_typography.scss */
p > em {
  font-style: italic;
}

/* line 48, ../sass/_typography.scss */
.lr-heading {
  text-align: center;
}

/* line 52, ../sass/_typography.scss */
.header-text {
  font-size: 1.125em;
  line-height: 1.33333333em;
  margin-bottom: 1.33333333em;
}

/* line 56, ../sass/_typography.scss */
.quote-text {
  font-size: 1.375em;
  line-height: 2.18181818em;
  margin-top: 1.09090909em;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

/* line 63, ../sass/_typography.scss */
.top-nav > li a {
  font-size: 1.125em;
  line-height: 1.33333333em;
  padding-right: 1.33333333em;
}

/* line 68, ../sass/_typography.scss */
.bottom-nav-items > li a {
  @inclde adjust-font-size-to(18px);
}

/* line 72, ../sass/_typography.scss */
li a {
  text-decoration: none;
}

/* line 77, ../sass/_typography.scss */
.form-wrapper h2 {
  text-align: center;
}
/* line 81, ../sass/_typography.scss */
.form-wrapper .form-text {
  text-align: center;
}

/* line 86, ../sass/_typography.scss */
.fb-right, .fb-left {
  font-size: 0.75em;
  line-height: 2em;
  margin: 0px;
}

@media (min-width: 320px) {
  /* line 18, ../sass/style.scss */
  header {
    background-image: url("/images/nyc-bg.jpg");
    background-size: cover;
    height: 350px;
  }
}
@media (min-width: 760px) {
  /* line 25, ../sass/style.scss */
  header {
    background-image: url("/images/nyc-60.jpg");
    background-size: cover;
    height: 600px;
  }
}
@media screen and (max-width: 669px) {
  /* line 34, ../sass/style.scss */
  .flex-nav {
    display: none;
  }

  /* line 37, ../sass/style.scss */
  .flex-nav-item > a {
    display: none;
  }
}
@media screen and (min-width: 670px) {
  /* line 45, ../sass/style.scss */
  .flex-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: #fff;
    width: 100%;
    height: 40px;
    opacity: .6;
    padding: 10px;
  }

  /* line 54, ../sass/style.scss */
  .flex-nav-item, .search, .icon {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    color: #051153;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    border-left: 1px solid #999;
    padding: 5px 10px;
  }
  /* line 18, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .flex-nav-item:visited, .search:visited, .icon:visited {
    color: inherit;
  }
  /* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .flex-nav-item:hover, .search:hover, .icon:hover {
    color: #0b25b3;
  }
  /* line 27, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  .flex-nav-item:active, .search:active, .icon:active {
    color: #212;
  }

  /* line 68, ../sass/style.scss */
  .flex-nav-item:hover {
    background-color: #aaa;
  }

  /* line 72, ../sass/style.scss */
  .search {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  /* line 75, ../sass/style.scss */
  .search:hover {
    background-color: #aaa;
  }
}
@media screen and (min-width: 670px) {
  /* line 83, ../sass/style.scss */
  .bottom-flex-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
  }

  /* line 88, ../sass/style.scss */
  .bottom-nav-items {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    background-color: #000;
    text-decoration: none;
    opacity: .6;
    border-left: 1px solid #999;
    padding: 5px 10px;
  }

  /* line 101, ../sass/style.scss */
  .bottom-nav-items:hover {
    background-color: #aaa;
  }

  /* line 105, ../sass/style.scss */
  .icon {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  /* line 108, ../sass/style.scss */
  .icon:hover {
    background-color: #aaa;
  }
}
/* line 117, ../sass/style.scss */
#nav, .tinynav {
  display: none;
}

/* styles for mobile */
@media screen and (max-width: 669px) {
  /* line 124, ../sass/style.scss */
  .nav-toggle {
    width: 83.05084746%;
    float: left;
    margin-right: 1.69491525%;
  }
  /* line 126, ../sass/style.scss */
  .nav-toggle .tinynav {
    display: block;
    width: 100%;
  }
  /* line 130, ../sass/style.scss */
  .nav-toggle #nav {
    display: none;
  }
}
