<h2 class="panel-heading">About this Single Page Application</h2>
<div class="panel-wrap">
    <div class="panel_item">
        <img src="images/skills/Angular-300x290.png" alt="">
        <h2 class="panel-heading">Nested States with the Help of UI-Router</h2>
        <p>With the help of <a href="https://github.com/angular-ui/ui-router" target="_blank">UI-Router</a>, I was able to take an extremely modular approach to creating Single Page Applications. Specifically, I harvested the power of absolute views, which allows developers to tie specific views to a top-level template. Although I have experience with ngRoute, and I understand Angular is trying to revamp the module, I personally found UI-router to be a much more effective solution when building SPA's. </p>
    </div>
    <div class="panel_item">
        <img src="images/skills/firebase300.png" alt="">
        <h2 class="panel-heading">Real-time Data Sync with FireBase</h2>
        <p>Throughout my time learning development, I have learned to live by the thought of using the correct technology to achieve the desired goal. Currently, I am working on several applications which desire a great deal of time and effort, therefore I turned to FireBase for handling the data submitted to my <a ui-sref="contact">contact form</a>, as I simply felt it was the correct choice.</p>
    </div>
    <div class="panel_item">
        <img src="images/skills/grunt300x300.png" alt="">
        <h2 class="panel-heading">Built Using the Grunt JavaScript Task Runner</h2>
        <p>Over the past month or so, I have began to utilize Grunt to help me complete several different tasks in a timely manner. Specifically, I turned to Grunt to help easily grant me access to LiveReload, so I did not have to continuously restart my server upon making changes to my files. As I continue to utilize Grunt in different projects, I now know how to add and remove tasks whenever necessary, and have become extremely comfortable with using it. That said, I am sure I could achieve the same success after a few hours with <a href="http://gulpjs.com/" target="_blank">GulpJS</a>, however I was forced to choose Grunt as time is always off the essence.</p>
    </div>
    <hr>
  
 </div>
 <div class="about-box">
    div
  <p class="download">View this project on <a href=""></a>GitHub.</p>
  </div>
