<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
               <label for="Name">Your Name</label>
            <textarea ng-model='name' type='text' placeholder='Johnathon Doe' class="form-control name"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
               <label for="email">Email Address</label>
            <textarea ng-model='email' type='text' id='nameInput' placeholder='cowboys@hotmail.com' class="form-control name"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <label for="location">Location</label>
            <textarea ng-model='location' type='text' id='nameInput' placeholder='Scranton, PA' class="form-control name"></textarea>
        </div>
    </div>
    <div class="row row-centered">
    <div class="col-xs-12 col-md-6">
    <div class="panel panel-primary">
    <select ng-model="reason" name="reason" id="reason">
        <option value="">Why are you contacting me today?</option>
        <option value="Web Development">Question About Web Development</option>
        <option value="Graphic Design">Question About Graphic Design</option>
        <option value="Job Inquiry">Job Inquiry</option>
        <option value="Just Saying Hello">Just Saying Hello</option>
    </select>
    </div>
    </div>
    </div>
    <div class="row row-centered">
        <div class="col-xs-12 col-md-10 col-centered">
            <textarea ng-model='message' ng-keydown="add($event)" type='text' id='messageInput' placeholder='How may I assist you....' class="form-control comment"></textarea>
        </div>
    </div>
    <h2 class="text-center">Hit enter on your keyboard to submit your message!</h2>
</div>