<div class="form-wrapper">
  <h2>Contact Me Today!</h2>
<p class="form-text">Want to get in touch? Fill out the form below, &amp; I will see that I get back to you as soon as possible</p>
<form action="#">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="" />
  </div>
   <div>
    <label for="name">E-Mail Address:</label>
    <input type="text" name="email" id="name" placeholder="" />
  </div>
   <div>
    <label for="name">Location:</label>
    <input type="text" name="location" id="name" placeholder="" />
  </div>

 
  
  <div class="select-wrapper">
    <label for="select-choice">Reason for Contact:</label>
    <div class="styled-select" for="select-choice">
      <select name="select-choice" id="select-choice">
        <option value="Web Development">Web Development Enquiry</option>
        <option value="Graphic Design">Help with Graphic Design</option>
        <option value="Just Saying Hello">Just Saying Hello</option>
      </select>
    </div>
    
  </div>
  
  <div class="clr">
    <label for="textarea">How May I Be of Assistance?</label><br />
    <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
  </div>

  
  <br /><br />
  
  <div>
    <input type="submit" value="Submit" />
    <div class="clr"></div>
  </div>
</form> 
</div>