<header>
    <div class="nav-toggle">
        <ul id="nav">
            <li><a ui-sref="home">Home</a>
            </li>
            <li><a ui-sref="blog">Blog</a>
            </li>
            <li><a href="#">Contact Me!</a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
    </div>
    <nav role="navigation">
        <ul class="flex-nav">
            <li><a ui-sref="home">Home</a>
            </li>
            <li><a ui-sref="blog">Blog</a>
            </li>
            <li><a href="#">Contact Me!</a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
    </nav>
    <div class="logo-row">
            <img src="images/tjg-logo.svg" alt="">
    </div>
    <!-- 
        <div class="buttons">
            <div>
            <h3><a ui-sref="home.form">Contact Me!</a></h3>
            </div>
            <div>
            <h3><a href="http://twitter.com/SassMasterTG"><i class="fa fa-github">My GitHub</i></a></h3>
            </div>
        </div>
    -->
  

</header>