<div class="main-content">
    <h2>Welcome to my Web Application</h2>
    <p>My name is Thomas Greco, and I self-taught web developer interested in front-end development, as well as building full stack applications with the help of isomorphic JavaScript. Before finding my passion for web development, I first worked as a graphic designer, which had a tremendous impact on the way in which I learned web development. Additionally, I possess the ability to not only create detailed mock-ups for clients, but I can also create graphics such as the logo above, which took roughly 15 minutes from start to finish. In addition to my knowledge of programming and design, my passion for web development is arguably my best characteristic as I strive to become a better developer as each day passes.</p>
    <hr>
    <div class="technologies">
        <h2>My Time In Web Development</h2>
        <p>As a self-taught developer, I had no choice but to explore a number of different technologies ranging from BootStrap, to Grunt. Although it took sometime, I achieved to gaining an understanding on more frameworks, and tools than I could have imaged. Additionally, the effort I put forth while working understand how these technolgies works, combined with the amount of information I exposed myself to, had an extremely positive impact on my overall success. Therefore, I created a slider consisting of the logo's of some of the most important technologies I have fairly extensive understanding of.</p>
    </div>

    <div class="mc-slider">
        <flex-slider slide="s in slides" animation="slide" control-nav="thumbnails">
            <li data-thumb="{{s}}">
                <img ng-src="{{s}}">
            </li>
        </flex-slider>
    </div>
</div>