<div class="main-content">
    <h2 class="main-heading">Welcome to my Web Application</h2>   
    <p>
    Hello, my name is Thomas Greco, and welcome to my web application built with AngularJS on top of the node platform. Although I am a self-taught developer, I was no stranger to technology when I decided to focus on programming. Moreover, I first worked as a social-media marketer, before receiving a job in graphic design, another field in which I am so utterly passionate about. Now, almost three years later, I possess the ability to rapidly created detailed mock-ups using Illustrator, or PhotoShop, and have come to greatly value the proper use of design according to the overall context of the project. Additionally, I spent the greater portion of the past year and studying different technologies in Sass CSS, and JavaScript, and succeeded in building an extremely strong foundation regarding full stack JavaScript applications. </p>
    <button><a ui-sref="about">Technologies Used in this App</a></button>
    <hr>
<h2 class="main-heading"> My Time In Web Development</h2>
        <p>As a self-taught developer, I had no choice but to explore a number of different technologies ranging from BootStrap, to Grunt. Although it took sometime, I achieved to gaining an understanding on more frameworks, and tools than I could have imaged. Additionally, the effort I put forth while working understand how these technolgies works, combined with the amount of information I exposed myself to, had an extremely positive impact on my overall success. Therefore, I created a slider consisting of the logo's of some of the most important technologies I have fairly extensive understanding of.</p>

    <ul class="gallery">
            <li class="gallery-item" ng-repeat="post in blog.posts">
                {{ post.title }}
            </li>
    </ul>


    <div class="mc-slider">
        <flex-slider slide="s in slides" animation="slide" control-nav="thumbnails">
            <li data-thumb="{{s}}">
                <img ng-src="{{s}}">
            </li>
        </flex-slider>
    </div>
</div>