<div class="form-wrapper">
     <h2>Mongoose</h2>
    <form ng-submit="add()">
        <div>
            <label for="name">Author Name:</label>
            <input ng-model="postAuthor" type="text" name="name" id="name" placeholder="" />
        </div>
        <div>
            <label for="name">Post Title:</label>
            <input ng-model="postTitle" type="text" name="email" id="email" placeholder="" />
        </div>
        <div class="clr">
            <label for="textarea">Post Message Below</label>
            <br />
            <textarea ng-model="postMessage" cols="40" rows="8" name="textarea" id="message"></textarea>
        </div>
        <div>
            <input type="submit" value="Send" class="button button-rounded button-flat-primary">
        </div>
    </form>
</div>