<div class="sb-content">
    <h2>I'm a big fan of the following technologies:</h2>
    <ul class="gallery">
        <li class="gallery-item"><img src="images/skills/angular-300x290.png" alt="">
        </li>
        <li class="gallery-item"><img src="images/skills/nodejs350.png" alt="">
        </li>
        <li class="gallery-item"><img src="images/skills/firebase.png" alt="">
        </li>
        <li class="gallery-item"><img src="images/skills/git300.png" alt="">
        </li>
        <li class="gallery-item"><img src="images/skills/grunt300x300.png" alt="">
        </li>
        <li class="gallery-item"><img src="images/skills/Sass320x320.png" alt="">
        </li>
    </ul>
</div>